; Custom PHP settings
; ALL CHANGES IN THIS FILE WILL BE LOST AFTER EasyEngine Update

upload_max_filesize = 100M
post_max_size = 100M

[mail function]
sendmail_path = /usr/sbin/sendmail -S mailhog:1025
