sudo: required

language: php
php: 7.2

env:
  global:
    - TEST_COMMAND=$(echo $TRAVIS_REPO_SLUG | cut -d/ -f 2) # Get command name to be tested

before_script:
  - |
    # Remove Xdebug for a huge performance increase:
    if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
      phpenv config-rm xdebug.ini
    else
      echo "xdebug.ini does not exist"
    fi
  - sudo ./ci/test-env-install.sh
  - ./ci/prepare.sh
  - ./ci/add-test-certs.sh

script:
  - cd "$TRAVIS_BUILD_DIR/../easyengine"
  - sudo ./vendor/bin/behat

after_script:
  - cat /opt/easyengine/logs/ee.log

cache:
  directories:
    - $HOME/.composer/cache

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
      - docker-ce
