# Add your custom config in custom/user.conf
# ALL CHANGES IN THIS FILE WILL BE LOST AFTER EasyEngine Update

server {
	access_log   /var/log/nginx/access.log;
	error_log    /var/log/nginx/error.log;

	root {{document_root}};

	server_name {{server_name}};

	index index.html index.htm;

	{{! locations.conf }}
	# NGINX CONFIGURATION FOR COMMON LOCATION
	# Basic locations files
	location = /favicon.ico {
		access_log off;
		log_not_found off;
		expires max;
	}

	# Cache static files
	location ~* \.(ogg|ogv|svg|svgz|eot|otf|woff|woff2|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf|swf)$ {
		add_header "Access-Control-Allow-Origin" "*";
		access_log off;
		log_not_found off;
		expires max;
	}
	# Security settings for better privacy
	# Allow LetsEncrypt HTTP challenge URL
	location ^~ /.well-known/acme-challenge/ {
		auth_basic off;
		allow all;
		try_files $uri =404;
		break;
	}
	# Deny hidden files
	location ~ /\. {
		deny all;
		access_log off;
		log_not_found off;
	}

	# Deny backup extensions & log files
	location ~* ^.+\.(bak|log|old|orig|original|php#|php~|php_bak|save|swo|swp|sql)$ {
		deny all;
		access_log off;
		log_not_found off;
	}
	# Return 403 forbidden for readme.(txt|html) or license.(txt|html) or example.(txt|html)
	if ($uri ~* "^.+(readme|license|example)\.(txt|html)$") {
		return 403;
	}
	# Status pages
	location = /ee-admin/nginx_status {
		stub_status on;
		access_log off;
	}
	location ~*  \.(css|js)$ {
		expires 1d;
		add_header Cache-Control "public, must-revalidate";
	}

	{{! /locations.conf }}

	client_max_body_size 100m;

	include /usr/local/openresty/nginx/conf/custom/*.conf;
}
