version: '3.5'

services:

{{#services}}
  {{#service_name}}
  {{name}}:
  {{/service_name}}
    {{#image}}
    image: {{name}}
    {{/image}}
    {{#depends_on}}
    depends_on:
      - {{name}}
    {{/depends_on}}
    {{#restart}}
    restart: {{name}}
    {{/restart}}
    {{#command}}
    command: {{name}}
    {{/command}}
    {{#labels}}
    labels:
    {{#label}}
      - "{{name}}"
    {{/label}}
    {{/labels}}
    {{#volumes}}
    volumes:
    {{#vol}}
      - "{{.}}"
    {{/vol}}
    {{/volumes}}
    {{#environment}}
    environment:
    {{#env}}
      - {{name}}
    {{/env}}
    {{/environment}}
    external_links:
      - services_nginx-proxy_1:${VIRTUAL_HOST}
    {{#networks}}
    networks:
    {{#net}}
      {{name}}:
      {{#aliases}}
        aliases:
        {{#alias}}
          - {{name}}
        {{/alias}}
      {{/aliases}}
    {{/net}}
    {{/networks}}
{{/services}}

{{#created_volumes}}
volumes:
  {{#external_vols}}
  {{ext_vol_name}}:
    external:
      name: {{prefix}}_{{ext_vol_name}}
  {{/external_vols}}
{{/created_volumes}}

{{#network}}
networks:
  site-network:
    name: ${VIRTUAL_HOST}
    {{#networks_labels}}
    labels:
    {{#label}}
     - "{{name}}"
    {{/label}}
    ipam:
      config:
      - subnet: '{{subnet_ip}}'
    {{/networks_labels}}
  global-frontend-network:
    external:
      name: ee-global-frontend-network
{{/network}}
